.filters_orders {
    background-color: #f9fafc;
    display: flex;
    justify-content: space-around;
    /* overflow: auto; */
    /* display: block; */
}

.pagination_button {
    text-decoration: none;
    margin: 1px;
    width: 25px;
    border-radius: 5px;
    border-color: rgb(217, 97, 97);
}

.pagination_button {
    cursor: pointer;
    border: 1px solid transparent;
    text-align: center;
    background-color: #fff;
    color: #2a53d9;
    border-color: #0000ff;
}

.prev {
    width: auto;
    margin: 1px;
    background-color: #fff;
    border-color: #0000ff;
    color: blue;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.next {
    width: auto;
    margin: 1px;
    background-color: #fff;
    border-color: blue;
    color: blue;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.leyenda{
    color: bisque;
    
}

.pagination_button.active{
    background-color: #0000ff;
    color: white;
    border-color: white;
}
.pagination_button:hover{
    background-color: #0000ff;
    color: #fff;
}

/* .pagination_button:hover:not(.active){
    background-color: #4509dc;
    color: #fff;
} */
