.filters_orders{
    background-color: #f9fafc;
    display: flex;
    justify-content: space-around;
    /* overflow: auto; */
    /* display: block; */
}/*
.order_weight_max_section{
    float:left ;
}
.order_weight_min_section{
    float: left;
}
.order_name_section{
    float: right;
}
.select_filter_temperaments{
    float: right;
}
.select_filter_api_bd{
    float: right;
} */