.filters_orders {
    background-color: #f9fafc;
    display: flex;
    justify-content: space-around;
    position: fixed;
    overflow: hidden;
    padding: 2px;
    top: 70px;
    min-width: 100vw;
    /* display: block; */
}

.container_home {
    min-height: 90vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: .4rem;
    padding: 125px 25px 0 25px;
}

.footer {
    right: 50%;
    margin: 0 auto;
    position: fixed;
    min-height: 5vh;
    bottom: 5px;
}

.button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;

    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}


.pagination_button,
.prev,
.next {
    text-decoration: none;
    margin: 1px;
    width: 25px;
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    border-radius: 5px;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    box-shadow: 0px 8px 15px rgba(188, 180, 180, 0.385);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.prev {
    width: auto;
}

.next {
    width: auto;
}

.next:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    width: auto;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transform: translateY(-7px);
}

.prev:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    width: auto;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transform: translateY(-7px);
}

.leyenda {
    color: bisque;

}

.pagination_button.active {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: white;
    border: 1px solid #fff;
}

.pagination_button:hover {
    /* background-color: #0000ff;
    color: #fff; */
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}