
.container {
    position: relative;
    width: 1500px;
    /* height: 1100px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
    border-radius: 15px;
    /* background-color: rgb(30, 30, 93); */
  }
  
  .card_favorites {
    position: relative;
    width: 300px;
    max-width: 300px;
    height: 215px;
    background-color: #043332;
    margin: 30px 10px;
    padding: 20px 15px;
  
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
    border-radius: 15px;
  }
  
  .card_favorites:hover {
    height: 320px;
  }
  
  .image {
    position: relative;
    width: 260px;
    height: 260px;
    max-height: 260px;
    border-radius: 20px;
    top: -40%;
    left: 8px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
  }
  
  .content {
    position: relative;
    top: -140px;
    padding: 10px 15px;
    color: #111;
    text-align: center;
  
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
  
  }
  
  .card_favorites:hover .content {
    margin-top: 30px;
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;
  
  }
  
  .name_favorites {
    background-color: #fdfafc;
    border-radius: 5px;
  }
  
  /* .weight {
    background-color: #40ec8d;
    border-radius: 5px;
  } */
  /* .temperaments{
    background-color: rgb(160, 95, 148);
    border-radius: 5px;
  } */
  
  .remove_favorites {
    width: 100%;
    /* display: inline-block; */
    background-color: #de27b1;
    border-radius: 10px;
    border: 2px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 14px;
    padding: 7px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3px;
  }
  .remove_favorites span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .remove_favorites span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .remove_favorites:hover {
    background-color: #20a982;
  }
  .remove_favorites:hover span {
    padding-right: 25px;
  }
  .remove_favorites:hover span:after {
    opacity: 1;
    right: 0;
  }

  .load_all_home{
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }

.button {
    background-color: white; 
    color: black; 
    border-radius: 5px;
    border: 2px solid #4CAF50;
}

.button:hover {
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
}